.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}
.name-profil-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15em;
}

.icone-name-profil {
  display: flex;
}
.icone-profil {
  width: 40px;
}
.name-profil {
  display: flex;
  align-items: center;
}

.main-nav-item {
  display: flex;
  gap: 0.4em;
}
.icone-logout {
  width: 25px;
}

.texte-logout {
  display: flex;
  align-items: center;
}
